h1 {
    color: green;
}

body {
    background-color: #f6f4f3;
}

.hidden {
    display: none;
}

.navigation {
    margin-bottom: 1em;
}

.navigation button {
    border: none;
    background-color: transparent;
    color: #965f33;
    cursor: pointer;
}

.navigation button.active {
    border-bottom: 2px #965f33 solid;
}

iframe#enginePage {
    display: block;
    border: none;
    height: 400px;
    width: 100%;
    max-width: 1300px;
}

iframe#enginePage.hidden {
    display: none;
}